/*@import "tailwindcss";*/
.light{
    background: burlywood;
    color: darkslategray;
}
.dark{
    background: darkslategray;
    color: burlywood;
}

a{
    font-size: 30px;
    border: rgba(154, 181, 193, 0.38) 1px solid;
    background: rgba(245, 245, 245, 0.43);
}
